<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lora&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./css/styles.css"> -->
    <link rel="stylesheet" href="./static/css/styles.css">

    

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Lora&display=swap"
        rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd0fcaf55c.js" crossorigin="anonymous"></script>
    <title>Roomie </title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-white bg-white">
        <div class="container-fluid">
            <a class="navbar-brand mp-0" href="#">
                <img src="./static/css/roomielogo.png" alt="" width="45" height="45" padding-right:5px
                    class="d-inline-block align-text-center">
                
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                  
                </ul>
                <div class="lKbkMAAbpfoobELp5Owc nmOK3Zge7f9va_eq5Y7X lyeiL0ZsQ_9GfoM0jZIe" aria-hidden="true" style="--divider-spacing-start:var(--space-8);--divider-spacing-end:var(--space-8)"></div>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-but">
                        <a class="btn btn-outline-light" href="/signin">Log In</a>
                    </li>
                    <li class="nav-but">
                        <a class="btn btn-outline-light" href="/signup">Start for free</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- homepage -->
    <section class="home" id="home">
        <div class="container" >
            <h1>Discover Your Home Away From Home with Roomie
            </h1>
            <p>your ultimate hostel finder</p>
            <div class="red">
                <!-- href="#" -->
                <a class="btn btn-primary btn-lg"  role="button" href="/signup">Start for free</a>
            </div>
        </div>

    </section>

    <section class="about section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img"><img alt="" class="img-fluid" src="static/css/home.webp"></div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="about-text">
                        <h2 style="font-family: 'Lobster', sans-serif;">Get more done with Productiva</h2>
                        <br>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, labore reiciendis. Assumenda
                            eos quod animi! Soluta nesciunt inventore dolores excepturi provident, culpa beatae tempora,
                            explicabo corporis quibusdam corrupti. Autem, quaerat. Assumenda quo aliquam vel, nostrum
                            explicabo ipsum dolor, ipsa perferendis porro doloribus obcaecati placeat natus iste odio
                            est non earum?</p><a class="btn btn-warning" href="#">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- about section Ends -->
    <!-- services section Starts -->
    <section class="itsfeatures" id="features">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Explore all Productiva has to offer</h2>
                    
                </div>
            </div>
        </div>
        <div class="features-container" id="feature-elements">
            
                <div class="feature">
                    <div class="icon">
                        <img src="static/css/clock.png" alt="clock" style="height:50px; width:50px;">
                    </div>
                        <h3>Pomodoro Timer</h3>
                    <div class="description">
                        Pomodoro technique timer for focused work sessions.
                    </div>
                </div>
            
            
                <div class="feature">
                    <div class="icon">
                        <img src="static/css/pencil.png" alt="note" style="height:50px; width:50px;">
                    </div>
                        <h3>Note-Taking</h3>
                    <div class="description">
                        Create and organize notes.
                    </div>
                </div>
            
            
                <div class="feature">
                    <div class="icon">
                        <img src="static/css/dart.png" alt="goal" style="height:50px; width:50px;">
                    </div>
                        <h3>Goal Setting</h3>
                    <div class="description">
                        Set your goals and track progress.
                    </div>
                </div>
            
            
                <div class="feature">
                    <div class="icon">
                        <img src="static/css/planning.png" alt="clock" style="height:50px; width:50px;">
                    </div>
                        <h3>Planning</h3>
                    <div class="description">
                        Plan your days ahead.
                    </div>
                </div>
            
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>