
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Roomie</title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="ThemeREX">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://alliance-html.themerex.net/assets/skin/default_skin/css/theme.css">
    <link rel="stylesheet" type="text/css" href="http://alliance-html.themerex.net/assets/allcp/forms/css/forms.css">
    <link rel="shortcut icon" href="http://alliance-html.themerex.net/assets/img/favicon.ico">


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">

</head>

<body class="forms-layouts">

    <div id="main">
        <header class="navbar navbar-fixed-top bg-dark">
            <!-- navbar for leftside -->
            <div>

                <ul class="nav navbar-nav navbar-left">
                    <li class='breadcrumb-icon' style="background-color: rgb(255, 0, 0)">
                        <a href="/">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-active">
                        <a href="/index" style="font-size: 20px">Roomie</a>
                    </li>
                </ul>

                <!-- navbar for right -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-but">
                        <a class="btn btn-outline-light" href="/register">Update Your Profile</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown dropdown-fuse">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{{ user.first_name }} </span>
                        </a>
                        <ul class="dropdown-menu list-group keep-dropdown w250" role="menu">
                            <li class="dropdown-header clearfix">
                                <a href="/logout/" class="btn btn-primary btn-sm btn-bordered">
                                    <span class="fa fa-power-off pr5"></span> Logout
                                </a>

                            </li>
                        </ul>
                    </li>
                </ul>
        </header>

    <!-- <header>
        <h1>Roomie App</h1>
    </header>-->
   

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% comment %} <p>Footer content goes here.</p> {% endcomment %}
    </footer>
</body>
</html>
